[data-translate] {
  white-space: pre-line;
  visibility: hidden;
}

.lang-ready [data-translate] {
  visibility: visible;
}

@media (max-width: 576px) {
  .franja-texto {
    height: 40% !important;
    font-size: 0.75rem;
  }
}

